* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}
body::-webkit-scrollbar {
  width: 1rem; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #dddddd; /* color of the tracking area*/
}

body::-webkit-scrollbar-thumb {
  background-color: #4c4c4d; /*color of the scroll thumb*/
  border-radius: 1px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
